@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@400;500;600;700;800&family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

/* begin common styles */

:root {
  --white: #f0f8ff;
  --yellow: #fdffbc;
  --orange-yellow: #ffeebb;
  --orange: #ffdcb8;
  --red-orange: #ffc1b6;
  --black: #492500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: josefin sans, futura, sans-serif;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-heading {
  font-size: 10rem;
  font-weight: 900;
  /* text-shadow: 0.3rem 0.3rem 0.3rem rgb(0, 0, 0); */
  text-align: center;
  letter-spacing: 0.3rem;
}

/* end common styles */

/* navbar styles */

.navbar {
  width: 100%;
  height: 14rem;
  background-color: var(--orange);
  position: fixed;
  top: -14rem;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.2rem 0.2rem 0.3rem var(--black);
  transition: top 0.5s;
}

.navbar.sparklebangs {
  top: 0;
  transition: top 0.4s 0.2s;
}

.navbar-link {
  color: var(--black);
  margin: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 0.2rem 0.2rem 0.2rem var(--red-orange);
  transition: all 0.3s, opacity 0.2s;
}

.navbar.sparklebangs {
  top: 0;
  transition: top 0.4s 0.2s;
}

.sparklebangs .navbar-link {
  opacity: 1;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.3s 0.5s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.3s 0.6s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.3s 0.7s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.3s 0.8s, color 0.3s;
}

.sparklebangs .navbar-link:nth-child(1) {
  transition: opacity 0.3s 0.9s, color 0.3s;
}

.navbar-link:hover {
  color: var(--orange-yellow);
  text-shadow: 0.1rem 0.1rem 0.3rem var(--black);
}

.navbar-link i {
  font-size: 7rem;
}

.navbar-link span {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.2rem;
  margin-top: 0.5rem;
}

.menu {
  width: 6rem;
  height: 6rem;
  background: url(images/kittycat_bawitdaba.png) center no-repeat;
  background-size: cover;
  position: fixed;
  top: 1rem;
  left: 5rem;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem var(--black));
  cursor: pointer;
  transition: top 0.4s 0.2s;
  z-index: 9;
}

.menu.sparklebangs {
  top: 15rem;
  transition: top 0.5s;
}

.menu::before {
  content: "";
  width: 0.3rem;
  height: 15rem;
  background-color: var(--black);
  position: absolute;
  top: -15rem;
  left: calc(50% - 0.15rem);
  box-shadow: 0.1rem 0 0.1rem var(--black);
}

.menu::after {
  content: "Pull";
  position: absolute;
  text-transform: uppercase;
  top: 6.5rem;
  left: -0.8rem;
  font-size: 3rem;
  font-weight: 900;
  color: var(--yellow);
  text-shadow: 0.2rem 0.2rem 0.2rem var(--orange);
}

/* end navbar styles */

/* section 1 styles */

.section-1 {
  width: 100%;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* padding-bottom: 10rem; */
}

.section-1-heading {
  color: var(--red-orange);
  text-shadow: 0.1rem 0.1rem 0.3rem var(--black);
  user-select: none;
  padding: 25rem 0 0 0;
}

.section-1-image img {
  opacity: 0.9;
  filter: drop-shadow(0.3rem 0.3rem 0.3rem var(--black));
  position: absolute;
  transform: translate(-50%, -50%) scale(0.75);
  top: 45%;
  user-select: none;
}

/* end section 1 styles */

/* section 2 styles */
.section-2 {
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0 10rem 0;
  background-color: var(--orange-yellow);
}

.section-2-heading {
  font-size: 12rem;
  color: var(--yellow);
  text-shadow: 0.1rem 0.1rem 0.3rem var(--red-orange);
}

.strengths-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}

.clifton-strength {
  width: 30rem;
  background-color: var(--red-orange);
  padding: 1rem 1rem 2rem 1rem;
  position: relative;
  opacity: 0.67;
  transition: opacity 0.5s;
}

.clifton-strength:nth-child(2) {
  margin-top: 5rem;
}

.clifton-strength:nth-child(3) {
  margin-top: 10rem;
}

.clifton-strength:nth-child(4) {
  margin-top: 15rem;
}

.clifton-strength:nth-child(5) {
  margin-top: 20rem;
}

.clifton-strength:hover {
  opacity: 1;
}

.clifton-strength-image {
  width: 100%;
  border-radius: 0.5rem;
}

.clifton-strength-name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  margin-top: 2rem;
}

.team-member-name span {
  font-size: 1.7rem;
}

.clifton-strength-attribute {
  font-size: 1.7rem;
  color: var(--black);
  font-weight: 500;
  margin: 1rem 0 1rem 0;
}

.strength-btn {
  background-color: var(--yellow);
  color: var(--black);
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.explanation-btn {
  width: 4rem;
  height: 4rem;
  background-color: var(--orange);
  position: absolute;
  top: -1rem;
  right: -1rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s;
}

.explanation-btn::after {
  content: "click";
  position: absolute;
  top: 22%;
  right: 27%;
  /* transform: translate(-50%, -50%); */
}

.explanation-btn::before {
  content: "me";
  position: absolute;
  top: 52%;
  right: 33%;
  /* transform: translate(-50%, -50%); */
}

.schpadoinkle.explanation-btn {
  transform: rotate(405deg);
}

.explanation-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: var(--black);
}

.explanation {
  width: 100%;
  height: 100%;
  background-color: var(--yellow);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  transform: scale(0);
  transform-origin: top right;
  border-radius: 50rem 0 50rem 50rem;
  transition: all 0.5s;
}

.schpadoinkle.explanation {
  transform: scale(1);
  border-radius: 0;
}

.explanation-heading {
  font-size: 4rem;
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--black);
  margin-bottom: 2rem;
}

.explanation-paragraph {
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 500;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}

/* end section 2 styles */
